nav {
  position: relative;
  height: 80px;
  background-color: rgb(75, 67, 128);
}

.navContain {
  display: flex;
  justify-content: space-between;
}

.HelloUser {
  font-size: 21px;
  font-weight: bold;
  color: rgb(235, 225, 225);
  margin: 20px 0px 0px 140px;
}

.submit {
  width: 80px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(253, 124, 101);
  opacity: 0.9;
  border-radius: 4px;
  text-align: center;
  margin: 20px 40px 0px 0px;
}

body {
  background-color: rgb(185, 185, 185);
}

th {
  font-size: 23px;
  font-weight: bold;
}

td {
  font-size: 20px;
}

td,
th {
  border: 2px solid rgb(75, 67, 128);
  padding: 8px 30px;
}

table {
  border: 2px solid rgb(75, 67, 128);
  margin: 50px 30px 0px 30px;
}

.totalButton {
  width: 280px;
  height: 38px;
  background-color: rgb(75, 67, 128);
  cursor: pointer;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  text-align: center;
  color: white;
  margin: 13px 0px 0px 13px;
}
